#global_content {
    min-height: 300px;
}

.mini-navigation {
    justify-content: flex-end;
    margin-right: 10px;
}
.slds-global-header__item_logo {
    display: flex;
}
div .slds-scope .slds-context-bar {
    padding-left: 0px;
    height: 50px;    
}
div .non-logged-in .slds-global-header__item.slds-global-header__item_logo {
    width: 100%;
    justify-content: space-between;    
}